div {
  width: 100%;
  height: 100%;
}

mat-card {
  margin-top: 10%;
  width: 500px;
  height: 450px;
}
.mat-card-header .mat-card-title {
  font-size: 30px;
}
mat-card-content {
  margin: 0 16px;
}

mat-form-field {
  width: 300px;
}

button {
  margin-top: 10px;
  width: 100px;
}


