input[disabled] {
  cursor: not-allowed;
}

mat-card {
  width: 100%;
  margin-top: 15px;
}


.section-title {
  text-align: center;
}

button {
  margin-top: 20px;
}


.roles-section {
  margin-bottom: 20px;
}
