mat-card {
  padding-top: Opx;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 1000px;

}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

mat-paginator {
  margin-top: 20px;
}
