.card {
  width: 100%;
  padding: 14px;
  margin-top: 5px;
  margin-bottom: 30px;
  background-color: #777;
  color: white;
}

.title {
  display: block;
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 6px;
  font-weight: 700;
}

.subtitle {
  font-size: 17px;
  margin-bottom: 20px;
}

.info {
  margin-bottom: 5px;
}

.label {
  padding-bottom: 8px;
}
