a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover,
a:active {
  color: lightgray;
}

.mat-toolbar-row-top {
  height: 70px;
  background-color: #323436;
}


img {
  margin-top: 8px;
}



