a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mat-toolbar-row-top {
  height: 70px;
  // box-shadow: inset 0 -3px 0 rgba(84,94,111,.2);
 // box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
 // background-color: #24292e;
  background-color: #4d4d4d;
}

circle-progress {
  margin-top: 10px;
}






